.container{
  composes: container from "/styles/Home.module.css";
}

.form_container{
  width: 100%;
  flex-grow: 1;
  max-width: 1200px;
  background-color: #fafafa;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.contacto{
  width: 105%;
  background-color: hsl(213deg 87% 21%);
  color: #fafafa;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 3em;
  font-weight: 500;
}

.contacto h1{
  margin: auto;
}

.contacto form{
  display: flex;
  flex-direction: column;
}

.contacto form div{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  margin: 1rem;
}

.contacto input{
  font-size: 0.5em;
  height: 50px;
  width: 100%;
  margin: 0 0.5rem;
  border: none;
}

.contacto textarea{
  font-size: 0.5em;
  width: 100%;
  padding: .375rem .75rem;
  margin: 0 0.5rem;
  height: 176px;
  font: 400 0.5em Arial;
  border: none;
}

.form_div{
  background-color: #fff
}

.form_input{
  background-color: #fff;
}

.form_icon{
  margin-top: 15px;
  margin-left: 10px;
}

.submit_div{
  background-color: transparent;
}

.submit_button{
  background-color:#08963a;
  color: #fafafa;
  margin: 10px;
  max-width: 300px;
}

.confirmation{
  border: 1px solid #08963a;
  padding: 0.5rem;
  font-size: 0.5em;
  padding: .375rem .75rem;
  margin: 0 0.5rem;
  display: none;
}



@media (max-width: 768px) {
  
  .contacto h3 {
    font-size: 1rem;
  }
  
  .contacto h1{
    font-size: 1em;
  }
  .contacto form div{
    justify-content: center;
  }
}