.btn_addnew {
	padding: 0.8rem 4rem;
	border: none;
	border-radius: 5px;
	background-color: #009879;
	color: white;
	font-size: 11pt;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
}

.btn_addnew:hover {
	background-color: #00987ad1;
}

.btn_edit {
	width: 2rem;
	height: 2rem;
	border: none;
	border-radius: 50%;
	margin-right: 0.5rem;
	cursor: pointer;
	transition: background-color 0.5s ease;
}

.btn_edit:hover {
	background-color: #ffc300;
}

.title {
	margin: 0;
}

.description {
	color: #4a4a4a;
	margin: 8px 0;
}
