@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.textarea-scrollbar {
		scrollbar-color: #009879 #f3f3f3;
		scrollbar-width: thin;
		scrollbar-gutter: stable both-edges;
	}
}
