@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--header-height: 5rem;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

@layer base {
	html {
		@apply text-black;
	}
	h1 {
		@apply text-4xl font-bold tracking-tight;
	}
	h2 {
		@apply text-2xl font-medium tracking-[-0.0075em];
	}
	h3 {
		@apply text-xl font-medium;
	}
	p {
		@apply text-gray text-base font-normal tracking-[0.0075em];
	}
}
