.container{
  composes: container from "/styles/Home.module.css";
}

.donar_container{
  width: 100%;
  max-width: 1200px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quiero_donar{
  width: 105%;
  height: 70vh;
  background-color: hsl(213deg 87% 21%);
  color: #fafafa;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.quiero_donar div {
  margin-top: 2em;
  max-width: 100%;
  text-align: center;
  font-size: 3em;
  font-weight: 500;
}

.quiero_donar div, .quiero_donar h1 {
  margin: auto;
}

.quiero_donar p {
  border-radius: 100px;
  padding: 0.5rem 1rem;
  background-color: #08963a;
  font-size: 0.5em;
  text-transform: none;
}



.botones_donaciones{
  max-width: 90%;
}

.botones_donaciones > p {
  color: hsl(213deg 87% 21%);
  background-color: #fafafa;
  padding: 10px;
  font-size: 2em;
  font-weight: 600;
}

.botones_donaciones_wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  color: #fafafa;
  font-weight: 500;
  margin: 2rem;
}

.botones_donaciones_wrapper a {
  width: 140px;
  height: 140px;
  padding: 6px 1px;
  transition-duration: 1s;
  box-shadow: 0px 34px 23px -17px rgb(0 0 0 / 65%);
  margin: 1rem;
}

.botones_donaciones_wrapper p {
  font-size: 2em;
  margin: 10px;
}

.mensual{
  background-color:#08963a;
}

.mensual p{
  font-size: 1.2em;
  margin: 30px 0;
}



.contacto{
  font-size: 2rem;
  width: 80%;
  text-align: center;
}

.contacto h3 {
  font-size: 2rem;
}

.contacto form{
  display: flex;
  flex-direction: column;
}

.contacto form div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem;
}

.contacto input{
  font-size: 0.5em;
  height: 50px;
  width: 100%;
  padding: .375rem .75rem;
  margin: 0 0.5rem;
  border: 1px solid #e7e7e7;
}
  
.consulta svg{
  align-self: flex-start;
  margin-top: 1rem;
}

.consulta textarea{
  font-size: 0.5em;
  width: 100%;
  padding: .375rem .75rem;
  margin: 0 0.5rem;
  border: 1px solid #e7e7e7;
  height: 176px;
  font: 400 0.5em Arial;
}

.submit{
  background-color:#08963a;
  color: #fafafa;
  margin: 10px;
  max-width: 300px;
}

.confirmation{
  border: 1px solid #08963a;
  padding: 0.5rem;
  font-size: 0.5em;
  padding: .375rem .75rem;
  margin: 0 0.5rem;
  display: none;
}



.svg_icon {
  width: 1em;
  height: 1em;
}

.svg_icon path,
.svg_icon polygon,
.svg_icon rect {
  fill: hsl(213deg 87% 21%);
}

.svg_icon circle {
  stroke: hsl(213deg 87% 21%);
  stroke-width: 1;
}



@media (max-width: 768px) {
  .botones_donaciones > p {
    padding: 10px;
    font-size: 1.5em;
    font-weight: 500;
  }

  .contacto h3 {
    font-size: 1rem;
  }
}