html,
body {
  background-color: #08963a;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



.svg_icon {
  width: 1em;
  height: 1em;
}

.svg_icon path,
.svg_icon polygon,
.svg_icon rect {
  fill: hsl(213deg 87% 21%);
}

.svg_icon circle {
  stroke: hsl(213deg 87% 21%);
  stroke-width: 1;
}
